/* Not all media were born equal */

@media all and (max-device-width: 480px) {

	.container {
		width: 460px;
		padding: 0 10px;
		position: relative;
	}
	
	header.container {
		width: 460px;
		text-align: center;
	}
	
	header.container img {
		margin-left: 10px;
	}
	
	body {
		background-position: center 140%;
	}
	
	#ideas { overflow: hidden; }

	#knob .dial {
		margin: 0 auto;
		cursor: pointer;
		font-size: 24px !important;
		margin-top: 180px !important;
		padding: 0 0 15px 0 !important;
		background-position: left bottom;
	}
	
}